.new-tab-bookmarks-divider {
	width: 100%;
	max-width: 368px;
	height: 1px;
	background-color: var(--background-modifier-border);
	margin: var(--size-4-4) 0 0;
}

.new-tab-bookmarks-bookmarks {
	padding: var(--size-4-4) var(--size-4-4) var(--size-4-4);
	width: 100%;
	max-width: 400px;
}

.new-tab-bookmarks-group-header {
	display: block;
	padding: var(--size-4-1) 0 var(--size-4-1) 24px;
	color: var(--text-muted);
	font-size: var(--font-small);
	font-weight: var(--font-semibold);
}

.new-tab-bookmarks-subgroup {
	padding-left: var(--size-4-3);
}
