.empty-state-container {
	display: none;
}
.empty-state-container.rendered {
	display: grid;
	grid-template-rows: min-content min-content min-content;
	grid-template-columns: 1fr 1fr;

	grid-template-areas: 
		"ascii ascii"
		"title title"
		"actions bookmarks";

	row-gap: var(--size-4-2);
	box-sizing: border-box;

	max-height: unset;
	max-width: unset;
}

.empty-state-title {
	grid-area: title;
	margin: 0;
}

.new-tab-bookmarks-ascii-art,
.new-tab-bookmarks-textarea-container textarea {
	grid-area: ascii;
	display: inline-block;

	font-family: var(--font-monospace);
	font-size: var(--font-small);
	/* line-height: 1.2; */
	/* line-height: 1.0; */
	line-height: 1.08;
	white-space: pre;
	overflow-x: auto;
	border: none;

}

.new-tab-bookmarks-ascii-art {
	margin-block: 0;
}

.new-tab-bookmarks-ascii-art code {
	display: inline-block;
	color: var(--nav-item-color);
	font-family: var(--font-monospace);
	border: none;

	text-align: left;
	width: min-content;
}

.new-tab-bookmarks-bookmarks,
.empty-state-action-list {
	margin: 0;
	width: 100%;
	max-width: 600px;
	padding: var(--size-4-4) var(--size-4-4) var(--size-4-4);
}

.new-tab-bookmarks-bookmarks {
	grid-area: bookmarks;
	border-left: 1px solid var(--background-modifier-border);
}
.empty-state-action-list {
	grid-area: actions;
	margin-right: var(--size-4-4)
}

.new-tab-bookmarks-group-header {
	display: block;
	padding: var(--size-4-1) 0 var(--size-4-1) 24px;
	color: var(--text-muted);
	font-size: var(--font-small);
	font-weight: var(--font-semibold);
}

.new-tab-bookmarks-subgroup {
	padding-left: var(--size-4-3);
}

/* Truncate long names in bookmarks */
.new-tab-bookmarks-bookmarks .tree-item-inner {
	min-width: 0;
	overflow: hidden;
}

.new-tab-bookmarks-bookmarks .tree-item-inner-text {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* style empty-state-action as bookmarks */
.empty-state-action {
    align-items: baseline;
    display: flex;
	justify-content: end;
    border-radius: var(--nav-item-radius);
    corner-shape: var(--corner-shape);
    color: var(--nav-item-color);
    font-size: var(--nav-item-size);
    line-height: var(--line-height-tight);
    font-weight: var(--nav-item-weight);
    margin-bottom: var(--nav-item-margin-bottom);
    padding: var(--nav-item-padding);
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
body:not(.is-grabbing) .empty-state-action.tappable:hover {
	color: var(--nav-item-color-hover);
    background-color: var(--nav-item-background-hover);
    font-weight: var(--nav-item-weight-hover);
}
